{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Réserver</h1>
    </div>

    {{ form_start(form) }}

        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}