// assets/css/global.scss

// customize some Bootstrap variables


// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

$footer : black;

.primary{
  background-color: #ffcc00;
}
.card-header{
  background-color: #ffcc00;
}

.active{
  color: #ffcc00 !important;
}
